@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color:#364968;
  --secondry-color:#e09664;
}

h1, h2, h3, h4,h5, h6, ul li strong{
  font-family: "Roboto Mono", serif;
}

h2{
    font-size:30px;
    line-height: 40px;
    font-weight: 800;
    color: #000;
}

h3{
    font-size:24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
}

h4{
    font-size:20px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
}

span{
    font-size: 16px;
    line-height: 20px;
    font-size: 400;
}

p, ul li{
    font-family: "Raleway", serif;
}

.padding50{
    padding:50px 0;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgb(54 73 104 / 20%);
    color: #fff;
    z-index: 2;
}
header.active{
    background: var(--primary-color);
}

.navbar-nav .nav-item .nav-link,
.collapse .navbar-brand{
    font-size: 14px;
    line-height: 24px;
    padding: 7px 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link.active{
    font-weight: 600;
}

.custom-container{
    max-width:1600px;
    width: 100%;
}

.banner{
    height: 500px;
    overflow: hidden;
    background: url(../img/banner.jpeg) no-repeat center/cover;
    position: relative;
}

.bannerContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    z-index: 1;
}

.banner::after{
    content:'';
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    position: absolute;
    z-index: 0;
}

.banner-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    transition: transform 0.5s ease;
    
}
.banner-img:hover {
  transform: scale(1.1); /* Slight zoom-in on hover */
}

.downloadMe{
    margin-top: 40px;
    text-align: center;
}

.downloadMe h3{
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.downloadMe p{
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.downloadMe .myBtn{
    background: var(--secondry-color);
    width: 150px;
    padding: 10px 0;
    color: #fff;
}

.navbar-brand{
    color: #fff;
}

header .collapse ul .nav-item .nav-link{
    color: #fff;
}
header .collapse ul .nav-item .nav-link.active{
    color: var(--secondry-color);
}

.banner-img img{
    width: -webkit-fill-available;
}

.about{
    padding: 40px 0;
}

.social{
    margin-top: -30px;
}

.social span{
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    color: #fff;
    font-family: 'Font Awesome 6';
    margin: 5px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.social span i{
    font-size: 18px;
    line-height: 28px;
}

.image-blog{
    width: 600px;
    height:400px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 30px 0 30px 0;
    background: url(../img/mine.jpeg) no-repeat center/cover;
    background-size: 100%;
}

.content h2 span{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--secondry-color);
    text-transform: capitalize;
}


.section-padding{
	width:1170px;
	margin: 0 auto;
	padding:80px 0;
}

.owl-item .item {
   transform: translate3d(0, 0, 0); /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
  /* transform: scale(0.9);

  transition: all .25s ease-in-out; 
  margin: 50px 0; OVERWRITE PLUGIN MARGIN */
 }

.screenshot_slider .owl-item .item img {
    -webkit-transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
}

.screenshot_slider .owl-item.center .item img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.screenshot_slider .owl-nav {
    text-align: center;
    /* // margin: 40px 0; */
}

.screenshot_slider .owl-nav button {
	font-size: 24px !important;
	margin: 10px;
	color: #033aff !important;
}

/* experience */

.experienceMain h2{
    font-size:36px;
    line-height: 46px;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;
}

.experience .experienceDetail{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 1px 0px 6px 0px #36496894;
    background: #f7f7f7;
    margin-top:20px;
    position: relative;
    width: 100%;
}

.experience ul li{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
        padding: 3px 0;
}

.experienceDetail ol li a{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
}
.gola{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 25px;
    margin-right: 30px;
    z-index: 1;
    border: 2px solid #000;
    box-shadow: 0 0 0 5px #f2f3f7;
}

.experienceDetail::after{
    content: '';
    width: 2px;
    position: absolute;
    height: 100%;
    background: var(--secondry-color);
    top: 0;
    left: -57px;
}
.experienceDetail ol{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.experienceDetail ol li{
        width: calc(100% / 5);
            padding: 5px 0;
}

/* experience */

/* skills */

.skills_contenar .card-body{
    padding: 20px;
     background: #fff;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.skills_contenar .card-body .progress-container .progress{
    height: 5px;
}
.skills_contenar .card-body .progress-container{
    margin: 10px 0;
}
.skills_contenar .card-body .progress-container .progress .progress-bar{
    background: #364968;
}
.skills_contenar{
    margin-bottom: 30px;
}

/* skills end */

/* degree */

.degree p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.degree h4{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.education_contenar{
    display: flex;
    background: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.education_contenar .degree{
    background: #364968;
    max-width: 20%;
    width: 100%;
}
.degree p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.degree h4{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}

/* degree end */


/* footer */
.footer_content ul{
    display: inline-flex;
}

.footer_content ul li{
    padding: 0 10px;
}

.footer_content ul li a{
    color: #364968;
}

