@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --primary-color:#000;
  --secondry-color:red;
}

h1, h2, h3, h4,h5, h6, ul li strong{
  font-family: "Roboto Mono", serif;
}

p, ul li{
  font-family: "Montserrat", serif;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    background: var(--primary-color);
    color: #fff;
}


.custom-container{
    max-width:1600px;
    width: 100%;
}

.banner{
    height: 500px;
    overflow: hidden;
    background: url(../img/banner.jpeg) no-repeat center/cover;
}

.navbar-brand{
    color: #fff;
}

header .collapse ul .nav-item .nav-link{
    color: #fff;
}
header .collapse ul .nav-item .nav-link.active{
    color: var(--secondry-color);
}

.banner-img img{
    width: -webkit-fill-available;
}

.about{
    padding: 40px 0;
}

.image-blog{
    width: 600px;
    height:400px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 30px 0 30px 0;
    background: url(../img/mine.jpeg) no-repeat;
    background-size: 100%;
}

.content h2 span{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--secondry-color);
    text-transform: capitalize;
}